<!DOCTYPE html>
<html>
  <head>
    <title>XPath Injection Demo</title>
  </head>

  <body>
    <h1>Top Companies</h1>
    [% FOREACH c IN companies %]
      <p>[% c.string_value %]</p>
    [% END %]
  </body>
</html>

