table {
    width: 100%;
}

table td {
    padding-top: 5px;
}

table tr:nth-child(n+2):hover {
    background: #cae4e6;
}

table td {
    text-align: left
}

table th {
    text-align: left;
    font-weight: bold
}

table tr:first-child {
    border-bottom: 1px dashed gray;
}

.container {
    width: 810px;
}

.login {
    width: 810px;
}

.login button {
    color: white;
}

button.css3button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 6px 12px;
    background: -moz-linear-gradient(top, #afd9fa 0%, #588fad);
    background: -webkit-gradient(linear, left top, left bottom, from(#afd9fa), to(#588fad));
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #003366;
    -moz-box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px 0px 1px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px 0px 1px rgba(255, 255, 255, 1);
    box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px 0px 1px rgba(255, 255, 255, 1);
    text-shadow: 0px -1px 0px rgba(000, 000, 000, 0.7), 0px 1px 0px rgba(255, 255, 255, 0.3);
}

.login h1 {
    position: relative;
}

.login h1 button {
    position: absolute;
    left: 10px;
    top: 4px;
}