<!DOCTYPE html>

<html>
  <head>
    <title>Admin Login</title>
    <style>
      .error { color: red; }
    </style>
  </head>
  <body>
    <h1>Identify yourself</h1>
    <div>
      <span class="error">[% error_msg %]</span>
    </div>
    <form method="POST" action="" >
      <div>
        <label for="inp-username">Username</label>
        <input type="text" id="inp-username" name="user" />
      </div>

      <div>
        <label for="inp-password">Password</label>
        <input type="password" id="inp-password" name="pass" />
      </div>

      <div>
        <input type="submit" value="Sign In" />
      </div>
    </form>
  </body>
</html>
