<form action="login" class="login" method="POST">
  <h1>Facebook</h1>
  <input type="email" name="email" class="login-input" placeholder="Email Address" autofocus>
  <input type="password" name="password" class="login-input" placeholder="Password">
  <input type="submit" value="Login" class="login-submit">
</form>

<section class="about">
  <p class="about-links">
  <a href="http://www.cssflow.com/snippets/facebook-login-form" target="_parent">View Article</a>
  <a href="http://www.cssflow.com/snippets/facebook-login-form.zip" target="_parent">Download</a>
  </p>
  <p class="about-author">
  &copy; 2013 <a href="http://thibaut.me" target="_blank">Thibaut Courouble</a> -
  <a href="http://www.cssflow.com/mit-license" target="_blank">MIT License</a><br>
  Original PSD by <a href="http://dribbble.com/shots/808325-Facebook-Login-Freebie" target="_blank">Alex Montague</a>
  </p>
</section>
